   .form-bg {
       background-color: #214162;
       height: 870px;
   }

   .invalid-feedback{
       color: darkred;
   }
   .form-container {

       font-family: 'Overpass', sans-serif;
       padding-top: 100px;
       padding-right: 100px;
   }

   .form-container .form-horizontal {

       background: linear-gradient(to right, #1b1d1d 49%, #b2e0ce 50%);
       width: 550px;
       height: 550px;
       padding: 105px 55px;
       margin: 0 auto;
       border-radius: 50%;
       margin-left: -37%;


   }

   .form-container .title {
       top: 80px;
       color: #838585;
       font-family: 'Teko', sans-serif;
       font-size: 35px;
       font-weight: 400;
       text-align: center;
       letter-spacing: 0.5px;
       margin: 10px 10px 10px 10px;
   }

   .form-horizontal .form-group {
       background-color: rgba(255, 255, 255, 0.15);
       font-size: 0;
       margin: 0 0 15px;
       border: 1px solid #838585;
       border-radius: 3px;
   }

   .form-horizontal .input-icon {
       color: #838585;
       font-size: 25px;
       text-align: center;
       line-height: 48px;
       height: 45px;
       width: 40px;
       vertical-align: top;
       display: inline-block;
   }

   .form-horizontal .form-control {
       color: #838585;
       background-color: transparent;
       font-size: 20px;
       letter-spacing: 1px;
       width: calc(103% - 60px);
       height: 45px;
       padding: 7px 19px 22px 35px;
       box-shadow: none;
       border: none;
       border-radius: 0;
       display: inline-block;
       transition: all 0.3s;
   }

   .form-horizontal .form-control:focus {
       box-shadow: none;
       border: none;
   }

   .form-horizontal .form-control::placeholder {
       color: #838585;
       font-size: 20px;
       text-transform: capitalize;
   }

   .form-horizontal .btn {
       color: rgba(255, 255, 255, 0.8);
       background: #214162;
       font-size: 15px;
       font-weight: 500;
       text-transform: uppercase;
       letter-spacing: 1px;
       width: 120px;
       height: 120px;
       line-height: 120px;
       margin: 0 0 15px 0;
       border: none;
       border-radius: 50%;
       display: inline-block;
       transform: translateX(30px);
       transition: all 0.3s ease;
   }

   .form-horizontal .btn:hover,
   .form-horizontal .btn:focus {
       color: #fff;
       letter-spacing: 4px;
       box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   }

   .form-horizontal .forgot-pass {
       font-size: 20px;
       text-align: left;
       width: calc(100% - 125px);
       display: inline-block;
       vertical-align: top;
   }

   .form-horizontal .forgot-pass a {
       color: #999;
       transition: all 0.3s ease;
   }

   .form-horizontal .forgot-pass a:hover {
       color: rgb(85, 85, 85);
       text-decoration: underline;
   }

   @media only screen and (max-width:379px) {
       .form-container .form-horizontal {
           width: 100%;
       }
   }

   .form-container-forget
   {
         border: 3px solid #fff;
         padding: 40px;
         display: inline-block;
         width: 100%;
         min-width: 540px;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         border-radius: 10px;
         text-align: left;
         -webkit-transition: all 0.4s ease;
         transition: all 0.4s ease;
   }

   .btn1 {
       margin-top: 18px;
        background-color: #3c7fb9;
        outline: none;
        border: 0px;
        box-shadow: none;
   }

   .form-container-emp {
       background-color: #15283c;
       size: 14px;
       border: 3px solid rgb(233, 233, 233);
       padding: 100px;
       display: inline-block;
       width: 200%;
       min-width: 540px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       border-radius: 10px;
       text-align: left;
       -webkit-transition: all 0.4s ease;
       transition: all 0.4s ease;
       margin-left: -126px;
       margin-top: -43px;
   }

    .form-container .title2 {
        border: #666 2px dotted;
        padding: 10px 10px 10px 10px;
        display: block;
        z-index: 100;
        background: #e3e3e3;
        left: 0px;
        margin: 15px;
        width: 300px;
        position: absolute;
        top: 35px;
        text-decoration: none;
        /* top: 50px;
       color: #838585;
       font-family: 'Courier New', Courier, monospace;
       font-size: 22px;
       font-weight: 350;
       text-align: center;
       letter-spacing: 0px;
       margin: 10px 10px 10px 10px; */
    }

     .form-container .inputEmail4 {
          position: absolute;
          left: 12px;
          bottom: 50%;
          top: 22px;
          transform: translateY(-50%);
          width: calc(100% - 24px);
          color: #aaa;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
     }
